{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
      <div class="row">
          <div class="col-md-4 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <div class="h3">
                          Технологии, использованные при создании
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-7">
              <div class="card-body">
                  <div class="card-text">
                      <ul style="list-style-type: none">
                          <li>Фреймворк Django</li>
                          <li>Фреймворк Bootstrap</li>
                          <li>Библиотеки Python, используемые Django</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </main>
{% endblock %}